.hero{

    background:linear-gradient(rgba(0,0,0,.55),
    rgba(0,0,0,.45)),
    url("../images/destinations/las-vegas.jpg");

    background-size:cover;

    background-position:center;

}

.card{

    min-height:180px;

}